<div class='well'>
  <div class='text-center day-panel'>
    <span class="glyphicon glyphicon-remove-sign remove-day-button"></span>
  </div>

  <div class='row'>
    <div class='col-sm-10'>
      <ul class='nav nav-pills day-picker'>
        <li class='active'>
          <a href='/'>1</a>
        </li>
        <li>
          <a href='/'>2</a>
        </li>
      </ul>
    </div>
    <div class='col-sm-2'>
        <span class="glyphicon glyphicon-plus-sign add-day-button"></span>
    </div>
  </div>
</div>
